.header
  .header-center-content
    .header-background
      .bg 
    .header-inline-content
      .txtNew
        %h1
          %a
            %span Just 4 Kid
      %nav
        .item-container
          .repeatButton
            %span Boys and Girls
          .repeatButton
            %span Toy and Deca
          .repeatButton
            %span About
          .repeatButton
            %span Contact
