%section
  #SITE_PAGE_SECTION
  .inline-content
    .section-content-link
      .backgourd-section
        .bg-fucking-shit
          .bg-bitch
      .left-image
        .wp2link
          .img-loader
            = image_tag("/images/kid.jpg")
      .section-trianger-image
        %svg
          %g
            %path{:d => "M167.402 0l167.403 289.949H0L167.402 0z"}
      .section-a-boutique-shop
        %h3 A boutique Shop
        %h5.font_5{:style => "text-align:center;"}  
        %h5.font_5.for-your-little-ones
          %span{:style => "line-height:0.5em;"}
          %span{:style => "letter-spacing:0.1em;"} for your little ones
      .section-button-show-clothes
        .link
          %span Shop Clothes Collection 

.trianger-image-summer-sale-off
  %svg
    %g
      %path{:d => "M167.402 0l167.403 289.949H0L167.402 0z"}

